# https://github.com/github/linguist/blob/master/docs/overrides.md

# Apply override to all files in the directory
test/results/** linguist-documentation=true

api/proto/*.pb.go linguist-generated=true